$black: #000000;
$white: #ffffff;

$primary-orange: #f17900;
$light-orange: #e0a449;
$text-white: #fffdfa;
$text-black: $black;
$text-gray: #393939;

$main-gradient: linear-gradient(90deg, #343333 38.05%, #484848 69.22%, #282828 98.98%);

$bg-dark: $black;
$font-main: $text-white;
$accent-color: $primary-orange;
