$black: #000000;
$white: #ffffff;

$primary-orange: #f17900;
$light-orange: #e0a449;
$text-white: #fffdfa;
$text-black: $black;
$text-gray: #393939;

$main-gradient: linear-gradient(90deg, #343333 38.05%, #484848 69.22%, #282828 98.98%);

$border-gray: #f0f1f1;
$border-gray-2: #c4c4c4;

$bg-dark: $black;
$bg-image-grey: #d9d9d9;
$bg-button: #f9f9f9;

$font-main: $text-white;
$accent-color: $primary-orange;
