@import 'styles/variables';

.card {
  width: 286px;
  display: flex;
  flex-direction: column;
  background: $white;
  transition: box-shadow 0.3s ease;
  overflow: hidden;

  &:hover {
    box-shadow: $shadow;

    .bookmarkBtn {
      background: $bg-button;
    }
  }
}

.image {
  width: 100%;
  height: 174px;
}

.info {
  display: flex;
  width: 100%;
  height: 58.192px;
  box-sizing: border-box;
  padding: 0 9px 0 21px;
  justify-content: space-between;
  align-items: center;
  border: $border-gray 1px solid;
  gap: 8px;
}

.title {
  width: 197px;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: $text-gray;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 846px) {
  .card {
    width: 346.011px;
    height: 170.841px;
  }
}
